---
import "../styles/base.css";

import Main from "../layouts/main.astro";

const posts = Astro.glob("../pages/content/tech/*.mdx");


---
<Main>
<section>
  <div>
    <div class="pb-8">
      <div class="font-serif font-medium text-xl">
        <a href="https://windyboy.github.io/posts/tech/cfssl-self-signed/">
          使用 CFSSL 证书的生成
        </a>
      </div><div class="flex flex-wrap justify-between pt-1">
        <div class="md:flex-grow-0 font-light">
          <a
            class="post-taxonomy-category text-medium-red-violet-600 hover:text-medium-red-violet-400"
            href="/categories/%E6%8A%80%E6%9C%AF">技术</a
          >
          &nbsp;&nbsp;
          <a class="post-taxonomy-tag text-eucalyptus-500" href="/tags/cfssl"
            >cfssl</a
          >&nbsp;/
          <a class="post-taxonomy-tag text-eucalyptus-500" href="/tags/x509"
            >x509</a
          >&nbsp;/
          <a
            class="post-taxonomy-tag text-eucalyptus-500"
            href="/tags/selfsigned">selfsigned</a
          >&nbsp;/
          <a class="post-taxonomy-tag text-eucalyptus-500" href="/tags/ssl"
            >ssl</a
          >&nbsp;/
          <a
            class="post-taxonomy-tag text-eucalyptus-500"
            href="/tags/certificates">certificates</a
          >
        </div><time
          class="text-eucalyptus-500 md:text-right md:flex-grow font-light"
          datetime="2022-03-02T15:40:47+08:00">2022-3-2</time
        >
      </div>
    </div>
  </div>
</section>
</Main>