---
import Config from "../blog.config.cjs";
import "../styles/base.css";
---

<ul class="font-serif flex-grow-0 flex justify-between flex-wrap md:flex-col">
  <li class="px-1 md:px-0">
    <a class="font-medium text-medium-red-violet-600 hover:text-medium-red-violet-400" href="/posts">文章</a>
  </li>
</ul>
